<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: 8%; border-bottom-style: solid; border-color: rgba(0, 0, 0, 0.09); margin-bottom: 20px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/drivers/add">Add Driver</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/drivers">List Drivers</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/drivers/delete">Delete Drivers</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/packages/add">Add Packages</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/packages">List Packages</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/packages/delete">Delete Packages</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/signup">Sign Up</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/stats">Stats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>