<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary"
    style="height: 8%; border-bottom-style: solid; border-color: rgba(0, 0, 0, 0.09); margin-bottom: 20px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <div class="btn-group nav-link">
                        <div type="button" class="dropdown-toggle" data-bs-toggle='dropdown' aria-haspopup="true"
                            aria-expanded="false">
                            Drivers
                    </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/drivers">List Drivers</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="/drivers/add">Add Driver</a>
                            <a class="dropdown-item" routerLink="/drivers/update">Update Driver</a>
                            <a class="dropdown-item" routerLink="/drivers/delete">Delete Driver</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <div class="btn-group nav-link">
                        <div type="button" class="dropdown-toggle" data-bs-toggle='dropdown' aria-haspopup="true"
                            aria-expanded="false">
                            Packages
                    </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/packages">List Packages</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="/packages/add">Add Package</a>
                            <a class="dropdown-item" routerLink="/packages/update">Update Package</a>
                            <a class="dropdown-item" routerLink="/packages/delete">Delete Package</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/signup">Sign Up</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/stats">Stats</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/translate">Translate</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/text-to-speech">Text to Speech</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/generative-ai">Generative AI</a>
                </li>
            </ul>
        </div>
    </div>
</nav>