<div style="height: 70%; display: flex; justify-content: center; align-items: center;">
    <form class="card"
        style="padding: 20px; width: 400px; display: flex; flex-direction: column;">
        <h2 style="text-align: center; margin-bottom: 20px;">Sign Up</h2>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">&#64;</div>
                </div>
                <input class="form-control" minlength="6" type="text" name="username" placeholder="Username" [(ngModel)]="loginInformation.username" />
            </div>
            <small id="usernameHelpBlock" class="form-text text-muted">
                Your username must be 6+ alphanumeric characters long.
            </small>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" minlength="5" maxlength="10" type="password" name="password" placeholder="Password" [(ngModel)]="loginInformation.password" />
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 5-10 characters long.
            </small>
        </div>

        <button (click)="signUp()" class="btn btn-primary">Sign Up</button>
    </form>
</div>