<div style="height: 70%; display: flex; justify-content: center; align-items: center;">
    <form class="card"
        style="padding: 20px; width: 400px; display: flex; flex-direction: column;">
        <h2 style="text-align: center; margin-bottom: 20px;">Add New Driver</h2>

        <div class="mb-3">
            <label class="form-label">Driver Name</label>
            <input class="form-control" type="text" name="driverName" placeholder="Enter driver name" [(ngModel)]="this.driverInformation.driver_name" />
        </div>

        <div class="mb-3">
            <label class="form-label">Driver Department</label>
            <select class="form-select" aria-label="Default select example" name="driverDepartment" [(ngModel)]="this.driverInformation.driver_department">
                <option value="food" selected>Food</option>
                <option value="furniture">Furniture</option>
                <option value="electronic">Electronic</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Driver License</label>
            <input class="form-control" type="text" name="driverLicense" placeholder="Enter driver license" [(ngModel)]="this.driverInformation.driver_licence" />
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="driverIsActive" [(ngModel)]="this.driverInformation.driver_isActive">
                <label class="form-check-label" for="flexCheckChecked">
                    is Active
                </label>
            </div>
        </div>

        <button (click)="addDriver()" class="btn btn-primary">Submit</button>
    </form>
</div>