<table class="table" style="margin-top: 0px;" *ngIf="!loading">
    <thead class="table">
        <tr>
            <th>Package ID</th>
            <th>Title</th>
            <th>Weight</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>is Allocated</th>
            <th>Driver ID</th>
            <th>Delete Package</th>
            <th>Driver Information</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let package of packages">
            <td>{{ package.package_id }}</td>
            <td>{{ package.package_title }}</td>
            <td>{{ package.package_weight | packageWeight }}</td>
            <td>{{ package.package_destination }}</td>
            <td>{{ package.package_description}}</td>
            <td>{{ package.package_createdAt }}</td>
            <td>{{ package.package_isAllocated }}</td>
            <td>{{ package.driver_id }}</td>
            <td><button class="btn btn-danger" (click)="deletePackage(package.package_id)" style="margin-bottom: 0;">Delete</button></td>
            <td>
                <div type="button" class="dropdown-toggle" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">Driver</div>
            <div class="dropdown-menu">
                <a class="dropdown-item">
                    <strong>Name:</strong> {{ package.driver_obj.driver_name | uppercase }}<br>
                    <strong>Driver ID:</strong> {{ package.driver_obj.driver_id }}<br>
                    <strong>Licence:</strong> {{ package.driver_obj.driver_licence }}<br>
                    <strong>Department:</strong> {{ package.driver_obj.driver_department }}<br>
                    <strong>is Active:</strong> {{ package.driver_obj.driver_isActive }}
                </a>
            </div>
            </td>
        </tr>
    </tbody>
</table>