<div style="display: flex; width: 100%; justify-content: center; justify-items: center;">
    <table class="table" style="margin-top: 0px; width: 400px; text-align: center; border-style: solid; border-width: 2px; border-radius: 5px;">
        <thead class="table">
            <tr>
                <th>Number of Drivers</th>
                <th>Number of Packages</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: middle;">
                <td>
                    {{ driverAmount}}
                </td>
                <td>
                    {{ packageAmount}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<img src="Logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">